{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <ul>
        <li><b>max:</b> {{ data.max }}</li>
        <li><b>min:</b> {{ data.min }}</li>
        <li><b>avg:</b> {{ data.avg }}</li>
    </ul>
{% endblock %}
