{% extends 'base.html.twig' %}

{% block title %}wia{% endblock %}

{% block body %}
    <ul>
        <li><a href="{{ path('wia_owoce') }}">owoce</a></li>
        {% for i in 1..13 %}
            <li><a href="{{ path('wiaNum', { 'num': i }) }}">{{ i }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
