{% extends 'base.html.twig' %}

{% block title %}pai{% endblock %}

{% block body %}
    {% for i in 3..9 %}
        <li><a href="{{ path('paiNum', { 'num': i }) }}">{{ i }}</a></li>
    {% endfor %}
    <li><a href="{{ path('paiNum', { 'num': '9c' }) }}">9c</a></li>
    <li><a href="{{ path('paiNum', { 'num': 10 }) }}">10</a></li>
    <li><a href="{{ path('zawodnik_index') }}">12</a></li>
    <li><a href="{{ path('paiNum', { 'num': 13 }) }}">13</a></li>
    <li><a href="{{ path('paiNum', { 'num': 14 }) }}">14</a></li>
    <li><a href="{{ path('paiNum', { 'num': 15 }) }}">15</a></li>
{% endblock %}
