{% extends 'base.html.twig' %}

{% block title %}index{% endblock %}

{% block body %}
    <ul>
        <li><a href="{{ path('pai') }}">pai</a></li>
        <li><a href="{{ path('wia') }}">wia</a></li>
    </ul>
{% endblock %}
