{% extends 'base.html.twig' %}

{% block title %}Edit Zawodnik{% endblock %}

{% block body %}
    <h1>Edit Zawodnik</h1>

    {{ include('zawodnik/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('zawodnik_index') }}">back to list</a>

    {{ include('zawodnik/_delete_form.html.twig') }}
{% endblock %}
