{% extends 'base.html.twig' %}

{% block title %}Zawodnik index{% endblock %}

{% block body %}
    <h1>Zawodnik index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Imie</th>
                <th>Data_urodzin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for zawodnik in zawodniks %}
            <tr>
                <td>{{ zawodnik.id }}</td>
                <td>{{ zawodnik.imie }}</td>
                <td>{{ zawodnik.dataUrodzin ? zawodnik.dataUrodzin|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('zawodnik_show', {'id': zawodnik.id}) }}">show</a>
                    <a href="{{ path('zawodnik_edit', {'id': zawodnik.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('zawodnik_new') }}">Create new</a>
{% endblock %}
