{% extends 'base.html.twig' %}

{% block title %}New Zawodnik{% endblock %}

{% block body %}
    <h1>Create new Zawodnik</h1>

    {{ include('zawodnik/_form.html.twig') }}

    <a href="{{ path('zawodnik_index') }}">back to list</a>
{% endblock %}
