{% extends 'base.html.twig' %}

{% block title %}Zawodnik{% endblock %}

{% block body %}
    <h1>Zawodnik</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ zawodnik.id }}</td>
            </tr>
            <tr>
                <th>Imie</th>
                <td>{{ zawodnik.imie }}</td>
            </tr>
            <tr>
                <th>Data_urodzin</th>
                <td>{{ zawodnik.dataUrodzin ? zawodnik.dataUrodzin|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('zawodnik_index') }}">back to list</a>

    <a href="{{ path('zawodnik_edit', {'id': zawodnik.id}) }}">edit</a>

    {{ include('zawodnik/_delete_form.html.twig') }}
{% endblock %}
