{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <ul>
        {% for key, result in results %}
            <li>{{ key }}. {{ result }}</li>
        {% endfor %}
    </ul>
{% endblock %}
