.float-left{
    float: left;
}
#baner{
    background-color: #993333;
    color: white;
    text-align: center;
    height: 80px;
}
#pierwszy, #drugi, #trzeci, #czwarty{
    font-family: Tahoma;
    background-color: #CC6666;
    color: white;
    text-align: center;
    width: 25%;
    height: 150px;
}
#lewy, #prawy{
    background-color: #CC9999;
    width: 40%;
    height: 550px;
    text-align: center;
}
#srodkowy{
    background-color: #FFCCCC;
    width: 20%;
    height: 550px;
}
#stopka{
    background-color: #993333;
    color: white;
    text-align: right;
}
#tabela{
    border: 1px dotted red;
    width: 100%;
}
#tabela td{
    text-align: center;
    vertical-align: middle;
}
#kalkulacja{
    border: none;
    padding: 20px;
    background-color: red;
    color: white;
}