{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    {% for table in data %}
        <table>
            <tr>
            {% for cell in header %}
                <th>{{ cell }}</th>
            {% endfor %}
            </tr>
            {% for line in table %}
                <tr>
                    {% for cell in line %}
                        <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% endfor %}
{% endblock %}
