{% extends 'base.html.twig' %}

{% block title %}Pai3{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}

    session id: {{ session.id }}<br>
    tries amount: {{ session.get('tries') }}<br>
    timeout timestamp: {{ session.get('timeout') }}<br>
    timeout left: {{ session.get('timeout') - date().timestamp  }}<br>
{% endblock %}
