{% extends 'base.html.twig' %}

{% block title %}Pai3{% endblock %}

{% block body %}
    {% if data %}
        Login: {{ data.login }}
        Hasło: {{ data.password }}
    {% else %}
        Nie podano informacji.
    {% endif %}
    {{ message }}
    <a href="{{ path('pai3') }}">wróć</a>
{% endblock %}
